<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829480803516-t92p94vpsbkbffqf26iul1bpskdr54d5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829480803516-t92p94vpsbkbffqf26iul1bpskdr54d5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>829480803516-sd5bpssds645ru7kore24cstdhfd2enr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBtVo9M5RYg7MZjNTPqv95th8TH3OJpBsk</string>
	<key>GCM_SENDER_ID</key>
	<string>829480803516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.globens</string>
	<key>PROJECT_ID</key>
	<string>globens-uz</string>
	<key>STORAGE_BUCKET</key>
	<string>globens-uz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829480803516:ios:186bd993bdcf27767a84b9</string>
	<key>DATABASE_URL</key>
	<string>https://globens-uz.firebaseio.com</string>
</dict>
</plist>